{% extends "plugIt/base.html" %}

{% block title %}Create :: SimplePools{% endblock %}

{% block content %} 
    <h2>SimplePolls: New poll</h2>

    <p class="well well-small">
        You can here create a new poll with different options. This page is only accesible if you are a member or an admin. Try to change the current user with the menu !
    </p>

    {% if success %}

        <div class="alert alert-success">
            The poll has been successfully saved. You can <a href="{{ebuio_baseUrl}}show/{{id}}">show it</a>, <a href="{{ebuio_baseUrl}}create/">create a new one</a> or <a href="{{ebuio_baseUrl}}">return to the list</a>.
        </div>

    {% else %}

        <form action="" method="POST" class="form-horizontal">
            {% csrf_token %}

            {% if errors %}
                <div class="alert alert-error">
                    <b>There is at least one error. Please fix the problem and submit again the form.</b><br />
                    <ul>
                        {% for e in errors %}
                            <li>{{e}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}


            <h4>Informations</h4>

            <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input type="text" name="title" placeholder="Title" value="{{title}}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="title">Description</label>
                <div class="controls">
                    <textarea name="description" placeholder="Description">{{description}}</textarea>
                </div>
            </div>

            <h4>Responses</h4>

            {% for rep in listOfResponses %}
                <div class="control-group">
                    <div class="controls">
                        <div class="input-append">
                            <input class="span2" name="rep[]" type="text" value="{{rep}}">
                            <button class="btn btn-danger" type="button" onclick="$(this).parent().parent().parent().remove();"><i class="icon-remove"></i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <script type="text/javascript">
                function addRow() {

                    $('#add-row-before-this').before('<div class="control-group"><div class="controls"><div class="input-append"><input class="span2" name="rep[]" type="text" value="{{rep}}"><button class="btn btn-danger" type="button" onclick="$(this).parent().parent().parent().remove();"><i class="icon-remove"></i></button></div></div></div>');

                }
            </script>

            <div class="control-group" id="add-row-before-this">
                <div class="controls">
                    <button class="btn btn-default" type="button" style="margin-left: 170px;" onclick="addRow();"><i class="icon-plus"></i></button>
                </div>
            </div>

            <input class="btn btn-warning" style="float: right; margin-left: 5px;" value="Cancel" type="button" onclick="window.location='{{ebuio_baseUrl}}';">
            <input type="submit" class="btn btn-primary" style="float: right;" value="Save">


        </form>
    {% endif %}


{% endblock %}

